.box{
    width: 300px;
    height:300px;
    background-color: rgba(72, 30, 156, 0.655);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    border-radius: 20px;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header{ 
   display: flex;
   justify-content: center;
}
.cointainer{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.header div{
    size:30px
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    align-items: center;
    display: flex;
}

.picContainer{
    display: flex;
    justify-content: center;
}
.abc{
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 50%; 
    color: #f2f2f6; 
    font-size: 6rem;
}